{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

    <div class="posts">
        <h2>1/4/2019</h2>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
    </div>
    
    <div class="posts">
        <h2>{{ date }}</h2>
        <p>{{ content }}</p>
    </div>





<h2 style="text-align: center; margin-bottom: 1%; color: forestgreen;">Add a new post</h2>
    <form name="compForm" >
        
        <div contenteditable="true" id="textBox2">
        <p id="dateform">{{ day }}/{{ month }}/{{ year }}</p>
        </div>

        <div contenteditable="true" id="textBox">
        <p id="contentform">Content ...</p>
        </div>

        <div class="sendbutton">
            <p><input id="submitbutton" type="button" class="w3-button w3-ripple w3-green" value="submit"/></p>
        </div>
    </form>



{% endblock %}
