{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
    $("#img-holder #img-txt").text(jsonData.text);
</script>

<script>
    const request = new XMLHttpRequest();

    request.open("GET", "/dailyposts/get");

    request.onreadystatechange = (xhr) => {
        if (xhr.target.readyState === 4 && xhr.target.status == 200) {
            const t = JSON.parse(xhr.target.responseText);
            console.log(t);
           
        }
    };
    console.log("send");
    request.send();
</script>


<div id="post-container">
    <div class="posts">
        <p></p>
    </div>

    <div class="posts">
        <h2>1/4/2019</h2>
        <p>For breakfast I had cereal </p>
    </div>
</div>












<h2 style="text-align: center; margin-bottom: 1%; color: forestgreen;">Add a new post</h2>
<form name="compForm">

    <div contenteditable="true" id="textBox2">
        <p id="titleform">Title</p>
    </div>

    <div contenteditable="true" id="textBox2">
        <p id="dateform">{{ day }}/{{ month }}/{{ year }}</p>
    </div>

    <div contenteditable="true" id="textBox">
        <p id="contentform">Content ...</p>
    </div>

    <div class="sendbutton">
        <p><input id="submitbutton" type="button" class="w3-button w3-ripple w3-green" value="submit" /></p>
    </div>
</form>



    {% endblock %}


