{% extends "layout.html" %}

{% block content %}

<body>
    <div class="jumbotron">
        <div class="title">
            <h1>My Blog</h1>
        </div>
        <p><button class="w3-button w3-ripple w3-white" style="margin:10px">About Page</button></p>
    </div>



    </div>
    <div class="background-front">
        <div class="row">
            <div class="col-md-4">
                <h2>Day 30</h2>
                <p>
                    I bought a hat.
                </p>
                <p>
                    <button class="w3-button w3-ripple w3-white">View posts from other days</button>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Projects</h2>
                <p>Python Caulculator</p>
                <p><button class="w3-button w3-ripple w3-white">Download more here</button></p>
            </div>
            <div class="col-md-4">
                <h2>The sea</h2>
                <p><img src="http://www.newmainetimes.org/media/img/library/2011/05/24/gray_dawn_75_miles_out_to_sea_1.JPG" style="width:30%;height:30%" /></p>
                <p><button class="w3-button w3-ripple w3-white">More Photos</button></p>

            </div>
        </div>


</body>






            {% endblock %}
