{% extends "layout.html" %}

{% block content %}

<body>
    <div class="jumbotron">
        <div class="title">
            <h1>My Blog</h1>
        </div>
        <p><button class="w3-button w3-ripple w3-white" style="margin:10px;"><a href="{{ url_for('contact')}}">Contact Us</a></button></p>
    </div>

    <marquee>Featured Posts... Featured Posts... Featured Posts... Featured Posts...</marquee>

    </div>
    <div class="background-front">
        <div class="row">
            <div class="col-md-4">
                <h2>Day 30</h2>
                <p>
                    I bought a wrap. It had a little bit of chicken, and some lettuce and tomato.
                </p>
                <p>
                    <button class="w3-button w3-ripple w3-white"><a href="{{ url_for('dailyposts')}}">View posts from other days</a></button>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Projects</h2>
                <div class="download-button">
                    <p>Python Caulculator</p>
                </div>
                <p><button class="w3-button w3-ripple w3-white"><a href="{{ url_for('downloads')}}">Download more here</a></button></p>
            </div>
            <div class="col-md-4">
                <h2>The sea</h2>
                <p><img src="http://www.newmainetimes.org/media/img/library/2011/05/24/gray_dawn_75_miles_out_to_sea_1.JPG" style="width:30%;height:30%" /></p>
                <p><button class="w3-button w3-ripple w3-white"><a href="{{ url_for('photogallery')}}">More Photos</a></button></p>

            </div>
        </div>
    </div>

    <div class="background-front">
        <div class="row">
            <div class="col-md-4">
                <h2>Day 47</h2>
                <p>
                    I bought a calzone. It had a little bit of chicken, and some lettuce and tomato.
                </p>
                <p>
                    <button class="w3-button w3-ripple w3-white"><a href="{{ url_for('dailyposts')}}">View posts from other days</a></button>
                </p>
            </div>


            <div class="col-md-4">
                <h2>Downloads</h2>
                <div class="download-button">
                    <p>This Website</p>
                </div>
                <p><button class="w3-button w3-ripple w3-white"><a href="{{ url_for('downloads')}}">Github Repository Here</a></button></p>
            </div>
            
            
            <div class="col-md-4">
                <h2>Some Grass</h2>
                <p><img src="https://static01.nyt.com/images/2018/06/25/opinion/25bittman1web/merlin_138967920_ea7283dc-13b9-4195-9ccf-91946310106b-articleLarge.jpg" style="width:30%;height:30%" /></p>
                <p><button class="w3-button w3-ripple w3-white"><a href="{{ url_for('photogallery')}}">More Photos</a></button></p>

            </div>


        </div>
    </div>

    <div class="footer-index">
        {% endblock %}
    </div>

</body>






            
