{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<body>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="https://breadforthebride.files.wordpress.com/2014/10/dollarclubtree.jpg">
                <img src="img_forest.jpg" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">The sea</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="http://www.newmainetimes.org/media/img/library/2011/05/24/gray_dawn_75_miles_out_to_sea_1.JPG">
                <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">The sea</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="http://www.newmainetimes.org/media/img/library/2011/05/24/gray_dawn_75_miles_out_to_sea_1.JPG">
                <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">The sea</div>
        </div>
    </div>

</body>

{% endblock %}
